################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task/.vs/Task/v17/Preview/Browse.VC.opendb
